body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.mine_square {
  background-color: #F96458;  
}

.six_plus_square {
  background-color: #E5795A;
}

.five_square {
  background-color: #D28E5C;  
}

.four_square {
  background-color: #BFA35E;  
}

.three_square {
  background-color: #ACB960;  
}

.two_square {
  background-color: #99CE62;
}

.one_square {
  background-color: #86E364;  
}

.zero_square {
  background-color: #73F966;  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
